<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">


              <a class="list-group-item" href="/user/"><i class="fa fa-home"></i> Home</a>

              <a class="list-group-item" href="/user/my-account"><i class="fa fa-user"></i> My Profile</a>
              <a class="list-group-item" href="/user/create-new-case"><i class="fa fa-plus"></i> Create New Case</a>
              <a class="list-group-item active" href="/user/my-cases"><i class="fa fa-list"></i> My Cases</a>
              <a class="list-group-item" href="/user/change-password"><i class="fa fa-lock"></i> Change Password</a>
              <a class="list-group-item" href="/user/logout"><i class="fa fa-sign-out"></i> Log Out</a>

            </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              My Cases
            </div>
             <div class="panel-body">
               {{#if cases}}
               {{#each cases}}
               <div class="row">

                 <div class="col-md-12">
                    <div class="panel">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-3" style="background:url(/images/case/{{this._id}}) no-repeat;background-position:center center;background-size:cover;height:100px">
                          </div>
                          <div class="col-md-9">
                            <h3 style="font-size:16px;margin:2px 0px 5px;font-weight:bold;">{{this.title}}</h3>
                            <p style=" min-height: 43px;max-height: 43px;overflow: hidden;">{{this.description}}</p>
                            <div class="row">
                              <div class="col-md-6">
                                {{#if this.status}}
                                  <span style="padding:2px 5px;border:1px solid #ccc"><label class="label label-success label-sm" style="border-radius:50%;padding:0px 5px">&nbsp;</label> <span style="font-size:12px;">Active</span></span>
                                {{else}}
                                  <span style="padding:2px 5px;border:1px solid #ccc"><label class="label label-danger label-sm" style="border-radius:50%;padding:0px 5px">&nbsp;</label> <span style="font-size:12px;">Inactive</span></span>
                                {{/if}}
                              </div>
                              <div class="col-md-6 text-right">
                                <strong>PIN:</strong> {{this.pin}}
                                <span class="text-success" style="padding:2px 5px;border:1px solid #ccc" data-toggle="tooltip" data-placement="top" title="{{this.adminId.email}}"><i class="fa fa-user" style="padding-left:5px;"></i> {{this.adminId.name}}</span>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
               </div>
               {{/each}}
               {{else}}
                  <div class="alert alert-warning">
                      <i class="fa fa-warning"></i> No Cases, <a href="/user/create-new-case">Click Here</a> to create case
                  </div>
                {{/if}}
             </div>
        </div>
    </div>
</div>
